body{
    font-family: Arial, sans-serif;
    margin:40px;
    background-color:#f4f4f4;
}

h2{
    color:#333;
    border-bottom:2px solid #ddd;
    padding-bottom:5px;
}

ol, ul{
    background:white;
    padding:20px;
    border-radius:8px;
    width:300px;
}

li{
    margin:8px 0;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    margin-top:20px;
}

th{
    background:#39186a;
    color:white;
    padding:10px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f1f1f1;
}

